{{ partial "header" . }}

<main>
    <article>
        <div>
            <h1>{{ .Title }}</h1>
            {{ if .Params.originalURL }}
                <div class="info">Original link: <a href="{{ .Params.originalURL }}"><span class="glyphicon glyphicon-link"></span> {{ $url := urls.Parse .Params.originalURL }}{{ $url.Host }}</a></div>
            {{ end }}
        </div>

        <div align="start" class="content">{{ .Content }}</div>
        <div class="info">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }} {{ partial "tags" . }} {{ partial "share" . }}</div>
    </article>

    <!-- Related posts -->
    {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" .Type) ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
    {{ if $related }}
        <h4 class="page-header">Related</h4>
        {{ range $related }} {{ partial "list-item" . }} {{ end }}
    {{ end }}

    <!-- Disquis comments -->
    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}
        <h4 class="page-header">Comments</h4>
        {{ template "_internal/disqus.html" . }}
    {{ end }}

</main>

{{ partial "footer" . }}
