{{ partial "header" . }}

<main>
    <article>
        <div>
            <h2>{{ .Title }}</h2>
            {{ if .Params.originalURL }}
                <div class="info">Original link: <a href="{{ .Params.originalURL }}"><span class="glyphicon glyphicon-link"></span> {{ $url := urls.Parse .Params.originalURL }}{{ $url.Host }}</a></div>
            {{ end }}
            <h5>{{ .Description }}</h5>
        </div>

        <div align="start" class="content">{{ .Content }}</div>
        <div class="info">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }} {{ partial "tags" . }} {{ partial "share" . }}</div>
    </article>

</main>

{{ partial "footer" . }}
